<%= form_for @owner, :html => { :multipart => true } do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <p>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <p>
  <div class="field">
    <%= f.label :image %><br>
    <%= cl_image_upload_tag :image, :required => true  %>
  </div>
  <p>
  <div class="field">
    <%= f.label :password  %>
    <%= f.password_field :password, :required => true %>
  </div>
  <p>
  <div class="field">
    <%= f.label :password_confirmation  %>
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
  <p>
  <div class="actions">
    <%= f.submit %>
  </div>
  </p>
<% end %>
